::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.75; /* Firefox */
}

:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.75; /* Firefox */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.75; /* Firefox */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: #22252B;
  color: white;
  width: 100%;
  min-height: 100%;
}
@media only screen and (min-width: 768px) {
  html, body {
    font-size: 22px;
  }
}

body {
  padding: 20px;
  background-color: #22252B;
}

section {
  background-color: #223D60;
  width: 90%;
  max-width: 700px;
  margin: auto;
  border: 1px solid #223D60;
  border-radius: 10px;
}

button {
  background-color: #1A970A;
  border: 0px;
  border-radius: 10px;
  color: white;
}

button:hover {
  cursor: pointer;
}

button:hover,
button:focus {
  filter: brightness(120%); /*makes button lighter on hover*/
}

/* First Page---------------------------------------------------------------------*/
.LogOrCreateContainer {
  padding: 0.75rem;
}
.LogOrCreateContainer h1 {
  margin-bottom: 0.75rem;
  font-size: xx-large;
}
.LogOrCreateContainer .twoButtons {
  text-align: center;
}
.LogOrCreateContainer .twoButtons button {
  width: 100%;
  align-self: center;
  padding: 0.5rem;
  background-color: #1A970A;
  border-radius: 10px;
  border: 0px;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}
.LogOrCreateContainer .guestButtonDiv {
  width: 102%;
  padding: 0.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  justify-items: right;
}
.LogOrCreateContainer .guestButtonDiv button {
  justify-self: end;
  border: 0px;
  padding: 0.8rem;
  background-color: #FF27A9;
}

.CreateAccountContainer {
  padding: 0.75rem;
}
.CreateAccountContainer h1 {
  font-size: xx-large;
}
.CreateAccountContainer .createHeader {
  display: flex;
  justify-content: space-between;
}
.CreateAccountContainer .createHeader button {
  min-width: 48px;
  min-height: 48px;
}
.CreateAccountContainer form {
  padding: 0.5rem;
  width: 100%;
}
.CreateAccountContainer form label {
  margin-bottom: 0.5rem;
}
.CreateAccountContainer form input {
  width: 100%;
  min-height: 48px;
  background-color: #1A970A;
  border: 0px;
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 20px;
}
.CreateAccountContainer form .CreateButtonDiv {
  text-align: center;
}
.CreateAccountContainer form .CreateButtonDiv button {
  text-align: center;
  background-color: #FF27A9;
  padding: 0.5rem;
  min-height: 48px;
  margin-top: 1rem;
  width: 50%;
  font-size: 20px;
}

.CreateAccountContainer {
  padding: 0.75rem;
}
.CreateAccountContainer .LogInHeader {
  display: flex;
  justify-content: space-between;
}
.CreateAccountContainer .LogInHeader button {
  min-width: 48px;
  min-height: 48px;
}

h1 {
  font-size: xx-large;
}

form {
  padding: 0.5rem;
  width: 100%;
}
form label {
  margin-bottom: 0.5rem;
}
form input {
  width: 100%;
  min-height: 48px;
  background-color: #1A970A;
  border: 0px;
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 20px;
}
form .LogInButtonDiv {
  text-align: center;
}
form .LogInButtonDiv button {
  text-align: center;
  background-color: #FF27A9;
  padding: 0.5rem;
  min-height: 48px;
  margin-top: 1rem;
  width: 50%;
}

.LandingScreenContainer {
  width: 90%;
  max-width: 1200px;
  padding: 0.75rem;
}
.LandingScreenContainer .LandingHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
}
.LandingScreenContainer .LandingHeader button {
  padding: 0.5rem;
  font-size: 0.75rem;
}
.LandingScreenContainer .createDeckButton {
  min-width: 15%;
  background-color: #1A970A;
  border: 0px;
  min-height: 48px;
  font-size: 1rem;
  border-radius: 10px;
  color: white;
}

.createdeckscreen {
  border: 0px;
  width: 90%;
  max-width: 1200px;
  padding: 0.75rem;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.createdeckscreen input[type=text] {
  width: 75%;
  border: 0px;
  font-size: 1.25rem;
  color: white;
  border-radius: 10px;
  padding: 0.75rem;
  outline: none;
  background-color: #1A970A;
}
.createdeckscreen button {
  width: 24%;
  background-color: #FF27A9;
  border: 0px;
  min-height: 48px;
  font-size: 1.25rem;
  border-radius: 10px;
  color: white;
}

.isoContainer {
  background-color: #1a8eee;
  width: 90%;
  border: 0px;
  border-radius: 10px;
  max-width: 1200px;
  padding: 0.75rem;
  margin: auto;
  margin-top: 10px;
}
.isoContainer .deckListDiv {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.isoContainer .deckListDiv p {
  padding: 20px;
  font-weight: bold;
}

.doButton {
  min-height: 48px;
  min-width: 48px;
  background-color: rgb(6, 119, 2);
  border: 0px;
  margin: 10px;
}

.deleteButton {
  min-height: 48px;
  min-width: 48px;
  background-color: rgb(243, 70, 70);
  border: 0px;
  border-color: red;
}

.editButton {
  min-height: 48px;
  min-width: 48px;
  background-color: #223D60;
  border: 0px;
}

.EditorScreenContainer {
  width: 90%;
  max-width: 1200px;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
}
.EditorScreenContainer button {
  min-width: 48px;
  min-height: 48px;
}

.MakeNewCard {
  border: 0px;
  width: 90%;
  max-width: 1200px;
  padding: 0.75rem;
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
}
.MakeNewCard textarea[type=text] {
  width: 40%;
  border: 0px;
  font-size: 1.25rem;
  color: white;
  border-radius: 10px;
  padding: 0.75rem;
  outline: none;
  background-color: #1A970A;
  margin-right: 10px;
}
.MakeNewCard button {
  width: 24%;
  background-color: #FF27A9;
  border: 0px;
  min-height: 48px;
  font-size: 1.25rem;
  border-radius: 10px;
  color: white;
  align-self: center;
}

.cardListDiv {
  border: 0px;
  background-color: #1a8eee;
  width: 90%;
  border-radius: 10px;
  max-width: 1200px;
  padding: 0.75rem;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cardListDiv p {
  font-weight: bold;
  align-self: center;
}
.cardListDiv .deleteCardButton {
  min-height: 48px;
  min-width: 48px;
  padding: 20px;
  align-self: center;
  background-color: rgb(243, 70, 70);
}
.cardListDiv .termDiv {
  width: 40%;
  align-self: center;
}
.cardListDiv .defDiv {
  width: 40%;
  align-self: center;
}

.StudyScreenContainer .mcDiv .options {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}
.StudyScreenContainer .mcDiv .options button {
  width: 25%;
  border: 0px;
  padding: 0.5rem;
  margin: 10px;
}
.StudyScreenContainer .buttonDiv {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}
.StudyScreenContainer .buttonDiv button {
  background-color: #FF27A9;
  align-self: flex-end;
  margin-right: 10px;
  padding: 0.5rem;
  margin-bottom: 10px;
  min-height: 48px;
}
.StudyScreenContainer h1 {
  padding: 0.5rem;
}
.StudyScreenContainer h2 {
  padding: 0.8rem;
}
.StudyScreenContainer .studyHeader {
  display: flex;
  background-color: #FF27A9;
  align-items: flex-end;
  justify-content: space-between;
}
.StudyScreenContainer .studyHeader button {
  background-color: #223D60;
  min-width: 48px;
  min-height: 48px;
  padding: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}
.StudyScreenContainer input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 80%;
  border: 0px;
  font-size: 1.25rem;
  color: white;
  border-radius: 10px;
  padding: 0.75rem;
  outline: none;
  background-color: #1A970A;
}/*# sourceMappingURL=style.css.map */