@import "_base.scss";

/* First Page---------------------------------------------------------------------*/
    .LogOrCreateContainer {
        padding:.75rem;
        h1 {
            margin-bottom: .75rem;
            font-size: xx-large;
        }
        
        .twoButtons {
            text-align: center; 
            
            button {
                width: 100%;
                align-self: center;
                padding: .5rem;
                background-color: #1A970A;
                border-radius: 10px;
                border: 0px;
                margin-top: .5rem;
                font-size: 1.25rem;
            }
        }
            
        .guestButtonDiv {
            width: 102%;
            padding: .5rem;
            display:flex;
            align-items: flex-end;
            justify-content: flex-end;
            justify-items: right;

            button {
                justify-self: end;
                border: 0px;
                padding: .8rem;
                background-color: #FF27A9;
            }    
        }  
    }

    //create account screen --------------------------------------------------------------------
.CreateAccountContainer {
    padding:.75rem;
    h1 {
        font-size: xx-large;
    }
    .createHeader {
        display: flex;
        justify-content: space-between;

        button {
            min-width: 48px;
            min-height: 48px;
        }
    }
    form {
        padding: .5rem;
        width: 100%;  
        label {
            margin-bottom: .5rem;
        }      
        input {
            width: 100%;
            min-height: 48px;
            background-color: #1A970A;
            border: 0px;
            color: white;
            border-radius: 10px;
            padding: .5rem;
            margin-top: .3rem;
            margin-bottom: .3rem;
            font-size: 20px;
 
            
        }
        .CreateButtonDiv {
            text-align: center;
            button {
                text-align: center;
                background-color: #FF27A9;
                padding: .5rem;
                min-height: 48px;
                margin-top: 1rem;
                width: 50%;
                font-size: 20px;
            }
        }    
    }
}

//Log In Screen -----------------------------------------------------------------------------
.CreateAccountContainer {
    padding:.75rem;

    .LogInHeader {
        display: flex;
        justify-content: space-between;

        button {
            min-width: 48px;
            min-height: 48px;  
            }
        }
    }

    h1 {
        font-size: xx-large;
    }
    form {
        padding: .5rem;
        width: 100%;  
        label {
            margin-bottom: .5rem;
        }      
        input {
            width: 100%;
            min-height: 48px;
            background-color: #1A970A;
            border: 0px;
            color: white;
            border-radius: 10px;
            padding: .5rem;
            margin-top: .3rem;
            margin-bottom: .3rem;
            font-size: 20px;
 
            
        }
        .LogInButtonDiv {
            text-align: center;
            button {
                text-align: center;
                background-color: #FF27A9;
                padding: .5rem;
                min-height: 48px;
                margin-top: 1rem;
                width: 50%;
            }
        }    
    }



//landing page --------------------------------------------------------------------------
.LandingScreenContainer {
    width: 90%;
    max-width: 1200px;
    padding: .75rem;
    
    .LandingHeader {
        
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 1rem;;

        button {
            padding: .5rem;
            font-size: .75rem;
        }
    } 

    .createDeckButton {
        min-width: 15%;
        background-color: #1A970A;
        border: 0px;
        min-height: 48px;
        font-size: 1rem;
        border-radius: 10px;
        color: white;
    }

}



.createdeckscreen {
    border: 0px;
    width: 90%;
    max-width: 1200px;
    padding: .75rem;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    input[type="text"] {
        
        width: 75%;
        border: 0px;
        font-size: 1.25rem;
        color: white;
        border-radius: 10px;
        padding: 0.75rem;
        outline: none;
        background-color: #1A970A;

    }
    button {
        width: 24%;
        background-color: #FF27A9;
        border: 0px;
        min-height: 48px;
        font-size: 1.25rem;
        border-radius: 10px;
        color: white;
        }
    
   
    
    }
    .isoContainer {
        background-color: #1a8eee;
        width: 90%;
        border: 0px;
        border-radius: 10px;        
        max-width: 1200px;
        padding: .75rem;
        margin: auto;
        margin-top: 10px;
        
        .deckListDiv {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            p {
                padding: 20px;
                font-weight: bold;
            }
            
        }
      
    }
    
    
    .doButton {
        min-height: 48px;
        min-width: 48px;
        background-color: rgb(6, 119, 2);
        border: 0px;
        margin: 10px;

   }


    .deleteButton {
        min-height: 48px;
        min-width: 48px;
        background-color: rgb(243, 70, 70);
        border: 0px;
        border-color: red;
   }

   .editButton {
        min-height: 48px;
        min-width: 48px;
        background-color: $container-bgcolor;
        border: 0px;
   }
   
   .EditorScreenContainer {
        width: 90%;
        max-width: 1200px;
        padding: .75rem; 
        display: flex;
        justify-content: space-between;
        
        button {
            min-width: 48px;
            min-height: 48px;
        }
     }

     .MakeNewCard {
        border: 0px;
        width: 90%;
        max-width: 1200px;
        padding: .75rem;
        margin-top: 10px;
        display: flex;
        align-items: flex-end;

        textarea[type="text"] {
        
            width: 40%;
            border: 0px;
            font-size: 1.25rem;
            color: white;
            border-radius: 10px;
            padding: 0.75rem;
            outline: none;
            background-color: #1A970A;
            margin-right: 10px;
        }
        button {
            width: 24%;
            background-color: #FF27A9;
            border: 0px;
            min-height: 48px;
            font-size: 1.25rem;
            border-radius: 10px;
            color: white;
            align-self: center;

           
            }
     }    

     .cardListDiv {
        border: 0px;
        background-color: #1a8eee;
        width: 90%;
        border-radius: 10px;        
        max-width: 1200px;
        padding: .75rem;
        margin: auto;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        p {
            //padding: 20px;
            font-weight: bold;
            align-self: center;
        }
        .deleteCardButton {
            min-height: 48px;
            min-width: 48px;
            padding: 20px;
            align-self: center;
            background-color:rgb(243, 70, 70);
        }
        .termDiv {
            width: 40%;
            align-self: center;
        
        }
        .defDiv {
            width: 40%;
            align-self: center;
        }
    }

        .StudyScreenContainer {
            border-radius: 20px;
            .mcDiv {
                .options {
                margin-right:20px;
                margin-left: 20px;
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;

                    button {
                       width: 25%;
                       border: 0px;
                       padding:.5rem;
                       margin: 10px;
                    }
                }
            }
            .buttonDiv {
                width: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: right;
                button {
                    background-color: #FF27A9;
                    align-self: flex-end;
                    margin-right: 10px;
                    padding: .5rem;
                    margin-bottom: 10px;
                    min-height: 48px;


                }
            }
           
            h1 {
                padding: .5rem;
            }
            h2 {
                padding: .8rem;
            }
            .studyHeader {
                display: flex;
                background-color: #FF27A9;
                align-items: flex-end;
                justify-content: space-between;

                button {
                    background-color: #223D60;
                    min-width: 48px;
                    min-height: 48px;
                    padding: .5rem;
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-right:10px;
                }
            }
            input {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
                width: 80%;
                border: 0px;
                font-size: 1.25rem;
                color: white;
                border-radius: 10px;
                padding: 0.75rem;
                outline: none;
                background-color: #1A970A;
            }
            
        }
    
     